@model AspNetMvcClass.Models.ViewModels.ScoreViewModel
@{
    ViewData["Title"] = "Risultato";
}
<style>
    .score-page {
        padding: 20px;
        text-align: center;
    }

    .score-card {
        margin: 20px auto;
        max-width: 500px;
    }

    .score-card-header {
        font-size: 2em;
        font-weight: bold;
        color: #212529;
    }
    
</style>

<div class="score-page">
<h1>Congratulazioni!</h1>
    <div class="card score-card">
        <div class="card-header score-card-header">
            @Model.Score / @Model.TotalQuestions
        </div>
    </div>
    <form>
    <button class="btn btn-primary" asp-action="Index" asp-controller="Quiz">Torna al Menu</button>
    </form>
</div>


