@model AspNetMvcClass.Models.AddDomandaViewModel

@{
	ViewData["Title"] = "Aggiungi";
}

<div class="text-center">
	<h1>Aggiungi domande al db</h1>
	<p>
		N.b la domanda ha un massimo di 500 caratteri, il resto dei campi 100 tranne la categoria che ne ha 50.
		Tutti i campi sono necessari tranne la categoria(che sarebbe generica in quel caso).
		I campi hanno check di validazione quindi non c'è problema nel caso di errori.
	</p>
</div>
<form method="post" action="Add">
	<div class="mb-3">
		<label for="" class="form-label">Domanda:</label>
		<input type="text" placeholder="Inserisci domanda" class="form-control" asp-for="Question">
		<span class="text-danger" asp-validation-for="Question"></span>
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Risposta1:</label>
		<input type="text" placeholder="Inserisci Risposta" class="form-control" asp-for="Risposta1">
		<span class="text-danger" asp-validation-for="Risposta1"></span>
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Risposta2:</label>
		<input type="text" placeholder="Inserisci Risposta" class="form-control" asp-for="Risposta2">
		<span class="text-danger" asp-validation-for="Risposta2"></span>
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Risposta3:</label>
		<input type="text" placeholder="Inserisci Risposta" class="form-control" asp-for="Risposta3">
		<span class="text-danger" asp-validation-for="Risposta3"></span>
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Risposta4:</label>
		<input type="text" placeholder="Inserisci Risposta" class="form-control" asp-for="Risposta4">
		<span class="text-danger" asp-validation-for="Risposta4"></span>
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Risposta Esatta:</label>
		<input type="text" placeholder="Inserisci Risposta Esatta" class="form-control" asp-for="RispostaEsatta">
		<span class="text-danger" asp-validation-for="RispostaEsatta"></span>
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Categoria:</label>
		<input type="text" placeholder="Definisci Categoria" class="form-control" asp-for="Categoria">
		<span class="text-danger" asp-validation-for="Categoria"></span>
	</div>
	<button type="submit" class="btn btn-primary">Crea Domanda</button>
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success my-3">
			@TempData["SuccessMessage"]
		</div>
	}

</form>
